
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Student</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body style="background-color: #bbbbbb">

<div class="container">


        <form class="form-horizontal" th:object="${employeeDTO}" th:action="@{/save-employee}" method="post"  enctype="multipart/form-data">


            <div class="form-group">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-1">
                    <input type="hidden" class="form-control" th:field="*{employeeId}" />
                </div>
            </div>



            <div class="form-group">
                <label class="col-sm-2 control-label"> First Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{firstName}" required />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label"> Last Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{lastName}" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"> Building:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{building}" required />
                </div>
            </div>




            <div class="form-group">
                <label class="col-sm-2 control-label"> Division:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{division}" required />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"> Room:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{room}" required />
                </div>
            </div>



            <div class="form-group" style="margin-left: 15%">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>

        </form>
    </div>


<div>
    <h5>All Employee</h5>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name </th>
            <th>Building</th>
            <th>Division </th>
            <th>Room </th>
            <th>Action</th>
        </tr>
        <tr th:each="value, rowStat : ${employeeList}">
            <td th:text="${rowStat.count}"></td>
            <td th:text="${value.firstName}">Name</td>
            <td th:text="${value.lastName}">Roll</td>
            <td th:text="${value.building}">building</td>
            <td th:text="${value.division}">Division</td>
            <td th:text="${value.room}">room</td>

          <!--  <td><a th:href="${'/update/student/'+value.studentID}"
                   class="btn btn-danger">Edit</a></td>

            <td><a th:href="${'/delete/student/'+value.studentID}"
                   class="btn btn-danger">Delete</a></td>
-->

        </tr>


    </table>
</div>
</div>




</body>
</html>